body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f9f9fb;
}

.absolute {
  position: absolute;
}

.isometric-card {
  margin: 0 auto;
  transform: rotateX(51deg) rotateZ(43deg);
  transform-style: preserve-3d;
  background-color: #6b6767;
  will-change: transform;
  width: 240px;
  height: 320px;
  border-radius: 2rem;
  /* la première ombre donne son épaisseur à la card */
  box-shadow: 3px 3px 0 1px #6b6767, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    28px 28px 28px 0 rgba(34, 33, 81, 0.25);
  transition: 0.4s ease-in-out transform, 0.3s ease-in-out box-shadow;
}

.ouroboros {
  background: url('./images/OUROBOROS.JPG');
}

.isometric-card:hover {
  transform: translate3d(0px, -16px, 0px) rotateX(51deg) rotateZ(43deg);
  box-shadow: 3px 3px 0 1px #6b6767, -1px 0 28px 0 rgba(34, 33, 81, 0.01),
    54px 54px 28px -10px rgba(34, 33, 81, 0.15);
}

.move {
    position: absolute;
    top: 0%;
    right: 35%;
    /* z-index: -1;      cette règle ne fonctionne pas au hover */
}

.chakra {
  background: url('./images/chakra.jpg');
  background-size: cover;
}

.back {
    position: absolute;
    top: 40%;
    left: 70%;
    width: 500px;
    height: 500px;
    background-image: url('./images/blob.svg');
    transition: 0.1s ease-in-out;
}

.back:hover {
  background-image: url('./images/blob2.svg');
}