$bgGradient: linear-gradient(to bottom, #e64741 0%,#e6255d 100%,#7db9e8 100%);
$navWidth: 250px;
$hamburgerSize: 60px;
$navBarBgColorHover: #12152b;
$navBarBgColor: #333F4F;
$bgLight: #c7c5ca;
$textBlue: #1F2667;
$lightGrey: #c7c5ca;
$lightBlue: #ddebff;
$light: #fff;