/* STACK
-------- */

.section__stack {
    margin: 0;
}

.stack {
    position: relative;
    overflow: hidden;

    &__container {
        width: 100%;
    }

    &__title {
        width: fit-content;
        margin: auto;
    }

    &__bg {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: skewY(-6deg);
        transform-origin: top left;
    }

    &__container {
        /* conteneur occupant toute la largeur disponible et qui cache tout contenu qui le déborde */
        display: inline-block;
        width: 100%;
        overflow: hidden;
        margin: 3rem auto;
        background: transparent;
    }

    &__banner {
        /* le conteneur qui défile et dont la largeur correspond à la somme de ses éléments */
        height: 10.5rem;
        width: 137rem;
        
    }

      & img {
          transition: transform 1s ease;

          &:hover {
              /* zoom des icones au survol */
              transform: scale(1.1);
          }
    }

    &__item {
        height: 6rem;
        width: auto;
        margin: 1rem;
        
        &--larger {
            /* pour icône php plus large que haut */
            width: 9rem;
            height: auto;
            position: relative;
            top: 1.5rem;
            margin: 1rem;
        }
    }
}

/* défilement des icones sur toute la largeur dans les deux sens */
.first {
    animation: bannermove 20s linear infinite alternate;
}

@keyframes bannermove {
    0% {
       margin-left: 3rem;
    }
    100% {
       margin-left: -94rem;
    }
}

/* RESPONSIVE
------------- */
/* gestion du bandeau de défilement : modification de la marge gauche en focntion des tailles d'écran */
@media only screen and (min-width: 600px) {

    .first {
        animation: bannermove 16s linear infinite alternate;
    }

    @keyframes bannermove {
        0% {
           margin-left: 3rem;
        }
        100% {
           margin-left: -85rem;
        }
    }   
}

@media only screen and (min-width: 900px) {

    .first {
        animation: bannermove 13s linear infinite alternate;
    }

    @keyframes bannermove {
        0% {
           margin-left: 3rem;
        }
        100% {
           margin-left: -70rem;
        }
    }   
}

@media only screen and (min-width: 1400px) {

    .first {
        animation: bannermove 10s linear infinite alternate;
    }

    @keyframes bannermove {
        0% {
           margin-left: 3rem;
        }
        100% {
           margin-left: -45rem;
        }
    }   
}

@media only screen and (min-width: 1400px) {

    .first {
        animation: bannermove 10s linear infinite alternate;
    }

    @keyframes bannermove {
        0% {
           margin-left: 3rem;
        }
        100% {
           margin-left: -45rem;
        }
    }   
}

@media only screen and (min-width: 1900px) {

    .first {
        animation: bannermove 5s linear infinite alternate;
    }

    @keyframes bannermove {
        0% {
           margin-left: 5rem;
        }
        100% {
           margin-left: -15rem;
        }
    }   
}