/* STACK
-------- */

.section__stack {
    margin: 0;
}

.stack {
    position: relative;
    overflow: hidden;
    margin-bottom: -6rem;

    &__container {
        width: 100%;
    }

    &__title {
        width: fit-content;
        margin: auto;
    }

    &__bg {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: skewY(-6deg);
        transform-origin: top left;
    }

    &__container {
        /* conteneur occupant toute la largeur disponible et qui cache tout contenu qui le déborde */
        display: inline-block;
        width: 100%;
        overflow: hidden;
        margin: 50px auto;
        background: transparent;
    }

    &__banner {
        /* le conteneur qui défile et dont la largeur corrrspond à la somme de ses éléments */
        height: 170px;
        width: 2200px;
        
    }

      & img {
          transition: transform 1s ease;

          &:hover {
              /* zoom des icones au survol */
              transform: scale(1.1);
          }
    }

    &__item {
        height: 100px;
        width: auto;
        margin: 1rem;
        
        &--larger {
            /* pour icône php plus large que haut */
            width: 150px;
            height: auto;
            position: relative;
            top: 25px;
            margin: 1rem;
        }
    }
}

/* défilement des icones sur toute la largeur dans les deux sens */
.first {
    animation: bannermove 20s linear infinite alternate;
}

@keyframes bannermove {
    0% {
       margin-left: 50px;
    }
    100% {
       margin-left: -700px;
    }
}

/* RESPONSIVE
------------- */

@media only screen and (min-width: 360px) {
    /* il faut que le bandeau de la stack défile totalement sur écran small */
}