/* pour compiler sass en ligne de commande : sass <source> <destination> */
/* I:\fichiers mika\html_CSS\ma librairie de composants dev web */

$bgGradient: linear-gradient(to bottom, #e64741 0%,#e6255d 100%,#7db9e8 100%);
$navWidth: 250px;
$hamburgerSize: 60px;
$navBarBgColorHover: #12152b;
$navBarBgColor: #333F4F;
$bg-light: #c7c5ca;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: $bg-light;
}

h1 {
    margin: 0;
}

.wrapper {
    /* je fixe une taille max à la page pour éviter de trop étirer le design */
    max-width: 1920px;
    min-height: 380px;
    margin: 0 auto;
    background: #F1F2F3;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    padding: 5em;
}

.title {
    font-weight: 400;
    font-size: 3em;
}

.regular {
    font-size: 1.4em;
    font-weight: 400;
    text-align: justify;
}

.icon, .icon:visited {
    color: $navBarBgColorHover;
    font-weight: 400;
    border-radius: 100%;
    padding: .2em;
    transition: .5s background-color;
    margin-left: .5em;
}

.icon:hover {
    transition: .5s background-color;
    background-color: #9bbbd3;
}

.dark-blue {
    background: rgb(30, 60, 75);
    color: $bg-light;
}

.light-gray {
    background-color: #c7c5ca;
}

.bold {
    font-weight: 600;
}

.banner {
    position: relative;
    width: 100vw;
    max-width: 1900px;
    height: 100vh;
    overflow: hidden;
    
    &__left {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: $bgGradient;
        animation: slideInLeft 0.5s;
        /* animation-fill-mode indique la façon dont une animation applique les styles à sa cible avant et après son exécution. */
        animation-fill-mode: forwards;  /* 'forwards' retient les valeurs calculées définies lors de la dernière étape (keyframe) */
    }
    
    &__right {
        position: absolute;
        background-color: black;
        width: 100%;
        height: 100%;
        clip-path: polygon(0 100%, 0 100%, 100% 100%, 100% 100%);
        animation: slideInRight .5s .5s;
        animation-fill-mode: forwards;
    }

    &__logo {
        position: absolute;
        font-size: 3em;
        font-weight: 400;
        color: white;
        opacity: 0;
        top: 30%;
        left: 30%;
        animation: fadeInLeft .2s 1s;
        animation-fill-mode: forwards;
    }
    
    &__incipit {
        position: absolute;
        bottom: 20%;
        transform: translateY(50%);
        right: 5%;
        font-size: 3rem;
        font-weight: 400;
        line-height: 7rem;
        color: white;
        opacity: 0;
        animation: fadeInRight .2s 1.2s;
        animation-fill-mode: forwards;
    }
}

.nav {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 12em;
    z-index: 1;
    background: $navBarBgColor;
    clip-path: circle(29px at calc(100% - 5vw - #{$hamburgerSize / 2}) calc(5vh + #{$hamburgerSize / 2}));
    transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);
    
    &.active {
        clip-path: circle(75% at 50% 50%);
    }
    
    &__link {
        display: block;
        font-size: 1em;
        font-weight: 400;
        text-transform: capitalize;
        letter-spacing: -1px;
        text-align: left;
        padding: 1vh 1vw;
        color: white;
        text-decoration: none;
        transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
        opacity: 0;
        transform: translateX(50%);
        
        @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
            transition-delay: $i * 0.05s;
            }
        }
        
        &.active {
            opacity: 1;
            transform: translateX(0);
        }
    }
}
    
    .hamburger {
        $p: &;
        width: $hamburgerSize;
        height: $hamburgerSize;
        border-radius: 50%;
        cursor: pointer;
        position: fixed;
        z-index: 1;
        top: 5vh;
        right: 5vw;
        background: $navBarBgColor;
        transition: ease .2s;
        
        &__patty {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 2px;
            width: 50%;
            background-clip: padding-box;
            background: darken(white, 3);
            transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);
        
        &:nth-child(1) {
            transform: translate(-50%, calc(-50% - .5em));
            }
        
        &:last-child {
            transform: translate(-50%, calc(-50% + .5em));
            }
        }
        
        &.active {            
            #{$p}__patty {
                background: white;
                
                &:nth-child(1) {
                transform: translate(-50%, -50%) rotate(45deg);
                }
                
                &:nth-child(2) {
                opacity: 0;
                }
                
                &:nth-child(3) {
                transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
        }

        &:hover {
            transition: ease .2s;
            background-color: $navBarBgColorHover;
        }
    }

.about {
    max-width: 800px;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
        text-align: center;
        font-size: 3em;
        font-weight: 400;
    }

    &__card {
        display: flex;
        flex-direction: column;
        
        &--thumbnail {
            width: 300px;
            height: 300px;
            margin-top: 3em;
            overflow: hidden;
            transition: all 0.5s ease;
            box-shadow: 1px 1px 5px #696969;
    
            &:hover {
                transform: scale(1.01);
                box-shadow: 0px 0px 35px #696969;
            }
        }

        &--icons {
            display: block;
            text-align: right;
            padding: .5em 0;
            font-size: 1em;
            color: #12152b;

            & a, a:visited {
                text-decoration: none;
                color: #000;
            }
        }
        &--leaning {
            width: 400px;
            border-radius: 5px;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        
        &--title {
            font-size: 3em;
            font-weight: 400;
            padding: 0 0 .5em 0;
            margin: 1em 0 0 0;
        }
        
        &--description {
            max-width: 300px;
        }
    }
}

.reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s all ease;
}
  
.reveal.show {
    transform: translateY(0);
    opacity: 1;
}

.contact {
    font-size: 8px;
    width: 100%;
    background-color: $navBarBgColor;
    text-align: center;
    padding: 4em 0 3em 0;

    &__message {
        color: #c7c5ca;
        font-size: 2.5em;
        margin-bottom: 2em;
    }

    &__email-btn {
        color: #F1F2F3;
        background-color: #f46674;
        padding: 1em 1.5em;
        display: inline-block;
        border-radius: 6px;
        font-size: 1.5em;

        & span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

        & span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }
    }

    &__email-btn:hover span {
        padding-right: 25px;
    }

    &__email-btn:hover span:after {
        opacity: 1;
        right: 0;
    }

    &__social-icons {
        margin-top: 50px;
        padding-left: 0;

        & li  {
            display: inline-block;
            margin: 0 16px;
        }

        & li a {
            display: block;
        }

        & li i {
            color: #c3c3cb;
            font-size: 2em;
            transition: all 0.3s;
        }

        & li i:hover {
            transform: scale(1.3);
        }
    }
}

@keyframes slideInLeft {
    from {        
        left: -100vw;
    }
    to {
        left: 0;
    }
}

@keyframes slideInRight {
    to {
        clip-path: polygon(0% 75%, 0 100%, 100% 100%, 100% 25%);
    }
}

@keyframes fadeInLeft {
    to {
        opacity: 1;
    }
}

@keyframes fadeInRight {
    to {
        opacity: 1;
    }
}

/* RESPONSIVE */

@media screen and (min-width: 600px) {

    .projects__title {
        font-size: 4em;
    }

    .projects__card--thumbnail {
        width: 400px;
        height: 400px;
    }
    
    .projects__container--description {
        max-width: 400px;

        & p {
            font-size: 1.2em;
        }
    }
}

/* à partir de 700px, le menu de navigation vertical devient horizontal */
@media screen and (min-width:700px) {

    .banner {   
        &__logo {
            font-size: 4em;
        }
        
        &__incipit {
            font-size: 4em;
            bottom: 30%;
            right: 20%;
        }
    }
    .nav {
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        height: 8em;
        
        &.active {
            clip-path: circle(75% at 50% 10%);
        }
    }
}

@media screen and (min-width:992px) {
    
    .nav {        
        &__link {
            font-size: 2em;
            padding: 1vh 2vw;
        }
    }

    .banner {     
        &__logo {
            font-size: 5em;
        }      
        &__incipit {
            font-size: 5em;
            bottom: 30%;
            right: 20%;
        }
    }

    /* j'augmente la taille de référence de la police (em) */
    .contact {
        font-size: 12px;
    }
}

@media screen and (min-width: 1000px) {

    .projects {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        gap: 3em;
        align-items: flex-start;
    }
    
    .projects__container--city-app, .projects__container--weatherApp {
        align-items: flex-end;
    }

    .projects__container--city-app, .projects__container--one {
        order: -2;
    }

    .projects__container--two {
        order: -1;
        align-items: flex-end;

        & .projects__container--description {
            text-align: right;
        }
    }

    .projects__container--todolist {
        align-items: flex-start;
    }
}

/* sur les tailles d'écran supérieures à 1400px, la barre de navigation devient latérale */
@media screen and (min-width: 1400px) {
    
    .nav {
        flex-flow: column nowrap;
        align-items: flex-end;
        width: $navWidth;
        height: 100%;
        background: $navBarBgColor;
        clip-path: circle(29px at calc(#{$navWidth} - 5vw - #{$hamburgerSize / 2}) calc(5vh + #{$hamburgerSize / 2}));

        
        &.active {
            clip-path: circle(75% at #{$navWidth / 2} 50vh);
        }
        
        &__link {
            font-size: 2em;
            padding: 1vh 3vw;
            transform: translateY(50%);
            
            &.active {
                transform: translateY(0);
            }
        }
    }

    .contact {
        font-size: 16px;
    }
}

/* ajout d'une règle pour gérer le menu latéral fixe sur les écrans très larges */
@media screen and (min-width: 1902px) {

    .nav, .hamburger {
        left: calc((50% + 960px) - 7.6em);
        top: 6em;
        transform: translateX(-50%);
    }

    .nav {
        height: calc(100vh + 10em);
        clip-path: circle(29px at calc(100% - 6em - #{$hamburgerSize / 2}) calc(#{$hamburgerSize / 2}));
        /* je remonte le menu .hamburger relativement à son parent .hamburger__fixed-menu pour qu'il colle au sommet de la page */
        &.active {
            top: -6em;
        }
    }
    
    .hamburger {
        &__fixed-menu {
            position: relative;
        }

        &__patty {
            position: absolute;
            top: 1.8em;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 2px;
            width: 50%;
            background-clip: padding-box;
            background: darken(white, 3);
            transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);
        }
    }
}