@charset "UTF-8";
.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  width: 90%;
  min-width: 360px;
  height: 30em;
  position: relative;
  margin: 2em auto;
  transition: background-color 0.6s ease;
}

.slideshow-container--orange {
  background-color: #d35400;
}

.slideshow-container--blue {
  background-color: #2980b9;
}

.slideshow-container--light-green {
  background-color: #1abc9c;
}

.slideshow-container--dark-blue {
  background-color: #2c3e50;
}

.slideshow-container--yellow {
  background-color: #dbc224;
}

.slideshow-container--grey {
  background-color: #7f8c8d;
}

.slideshow-container--green {
  background-color: #27ae60;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 2.5em;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 1em;
  padding: 0.5em 0;
  position: absolute;
  bottom: 3em;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 1em;
  padding: 0.5em 1em;
  position: absolute;
  top: 10px;
}

.slider-dots {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 1em;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 1em;
  width: 1em;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

/* SPINNERS 
----------*/
/* SPINNER 1 : CERCLE EN ROTATION */
.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

.spinner__adjust {
  position: absolute;
  top: 50%;
  left: calc(50% - 20px);
}

.spinner__rotate:before {
  content: "";
  position: absolute;
  top: calc(50% + 10px);
  left: calc(50% - 10px);
  width: 40px;
  height: 40px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 3px solid rgb(154, 147, 147);
  border-top-color: rgb(90, 85, 85);
  animation: spinnerRotate 0.8s linear infinite;
}

/* SPINNER 2 : EN FORME DE COMETE */
.spinner__comet:before {
  content: "";
  position: absolute;
  top: calc(50% + 10px);
  left: calc(50% - 10px);
  width: 40px;
  height: 40px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border-top: 3px solid #07d;
  border-right: 3px solid transparent;
  animation: spinnerRotate 0.6s linear infinite;
}

@keyframes spinnerRotate {
  to {
    transform: rotate(360deg);
  }
}
/* SPINNER 3 : ROTATION D'UN CARRE SUR 2 AXES */
.spinner__square {
  width: 40px;
  height: 40px;
  background-color: #f1f2f3;
  -webkit-animation: spinner-rotate 1.2s infinite ease-in-out;
  animation: spinner-rotate 1.2s infinite ease-in-out;
}

@-webkit-keyframes spinner-rotate {
  0% {
    -webkit-transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
  }
}
@keyframes spinner-rotate {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}
/* SPINNER 4 : EVOCATION D'UN MOUVEMENT AUDIO */
.spinner__audio {
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner__audio > div {
  background-color: #f1f2f3;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: spinner-stretch 1.2s infinite ease-in-out;
  animation: spinner-stretch 1.2s infinite ease-in-out;
}

.spinner__audio .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner__audio .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.spinner__audio .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner__audio .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes spinner-stretch {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes spinner-stretch {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
/* SPINNER 5 : MOUVEMENT CIRCULAIRE QUI S'ESTOMPE */
.circle-spinner {
  width: 40px;
  height: 40px;
  position: relative;
}

.circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: -20px;
  top: 0;
}

.circle:before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #f1f2f3;
  border-radius: 100%;
  -webkit-animation: circleFadeDelay 1.2s infinite ease-in-out both;
  animation: circleFadeDelay 1.2s infinite ease-in-out both;
}

.circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
}

.circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
}

.circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
}

.circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
}

.circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
}

.circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
}

.circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
}

.circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
}

.circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
@keyframes circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
/* SPINNER 6 : LES TROIS POINTS */
.spinner__dots {
  width: 70px;
  text-align: center;
  position: absolute;
  top: calc(50% + 18px);
  left: calc(50% - 25px);
}

.spinner__dots > div {
  width: 18px;
  height: 18px;
  background-color: #f1f2f3;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: growingDelay 1.4s infinite ease-in-out both;
  animation: growingDelay 1.4s infinite ease-in-out both;
}

.spinner__dots .dot1 {
  -webkit-animation-delay: 0.16s;
  animation-delay: 0.16s;
}

.spinner__dots .dot2 {
  -webkit-animation-delay: 0.32s;
  animation-delay: 0.32s;
}

.spinner__dots .dot3 {
  -webkit-animation-delay: 0.32s;
  animation-delay: 0.48s;
}

@-webkit-keyframes growingDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes growingDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
/* SPINNER 7 : ROUE A EAU */
.spinner2 {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 40px);
}

.spinner__wheel div {
  transform-origin: 40px 40px;
  animation: spinnerWheel 1.2s linear infinite;
}

.spinner__wheel div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}

.spinner__wheel div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}

.spinner__wheel div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}

.spinner__wheel div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}

.spinner__wheel div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}

.spinner__wheel div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}

.spinner__wheel div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}

.spinner__wheel div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}

.spinner__wheel div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}

.spinner__wheel div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}

.spinner__wheel div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}

.spinner__wheel div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}

.spinner__wheel div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}

@keyframes spinnerWheel {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (max-width: 650px) {
  .slideshow-container {
    margin: 2em 0;
  }
}
/* Pour les écrans de taille small, on réduit la taille du texte */
@media only screen and (max-width: 400px) {
  .prev, .next, .text, .numbertext {
    font-size: 0.75em;
  }
}
/* STACK
-------- */
.section__stack {
  margin: 0;
}

.stack {
  position: relative;
  overflow: hidden;
}
.stack__container {
  width: 100%;
}
.stack__title {
  width: fit-content;
  margin: auto;
}
.stack__bg {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.stack__container {
  /* conteneur occupant toute la largeur disponible et qui cache tout contenu qui le déborde */
  display: inline-block;
  width: 100%;
  overflow: hidden;
  margin: 3rem auto;
  background: transparent;
}
.stack__banner {
  /* le conteneur qui défile et dont la largeur correspond à la somme de ses éléments */
  height: 10.5rem;
  width: 137rem;
}
.stack img {
  transition: transform 1s ease;
}
.stack img:hover {
  /* zoom des icones au survol */
  transform: scale(1.1);
}
.stack__item {
  height: 6rem;
  width: auto;
  margin: 1rem;
}
.stack__item--larger {
  /* pour icône php plus large que haut */
  width: 9rem;
  height: auto;
  position: relative;
  top: 1.5rem;
  margin: 1rem;
}

/* défilement des icones sur toute la largeur dans les deux sens */
.first {
  animation: bannermove 20s linear infinite alternate;
}

@keyframes bannermove {
  0% {
    margin-left: 3rem;
  }
  100% {
    margin-left: -94rem;
  }
}
/* RESPONSIVE
------------- */
/* gestion du bandeau de défilement : modification de la marge gauche en focntion des tailles d'écran */
@media only screen and (min-width: 600px) {
  .first {
    animation: bannermove 16s linear infinite alternate;
  }

  @keyframes bannermove {
    0% {
      margin-left: 3rem;
    }
    100% {
      margin-left: -85rem;
    }
  }
}
@media only screen and (min-width: 900px) {
  .first {
    animation: bannermove 13s linear infinite alternate;
  }

  @keyframes bannermove {
    0% {
      margin-left: 3rem;
    }
    100% {
      margin-left: -70rem;
    }
  }
}
@media only screen and (min-width: 1400px) {
  .first {
    animation: bannermove 10s linear infinite alternate;
  }

  @keyframes bannermove {
    0% {
      margin-left: 3rem;
    }
    100% {
      margin-left: -45rem;
    }
  }
}
@media only screen and (min-width: 1400px) {
  .first {
    animation: bannermove 10s linear infinite alternate;
  }

  @keyframes bannermove {
    0% {
      margin-left: 3rem;
    }
    100% {
      margin-left: -45rem;
    }
  }
}
@media only screen and (min-width: 1900px) {
  .first {
    animation: bannermove 5s linear infinite alternate;
  }

  @keyframes bannermove {
    0% {
      margin-left: 5rem;
    }
    100% {
      margin-left: -15rem;
    }
  }
}
.placeholders {
  display: flex;
  width: 100%;
  min-height: 500px;
  /* classe utilisée par JS pour afficher un élément */
  /* classe utilisée par JS pour cacher un élément */
}
.placeholders .placeholder__padding {
  padding: 1.5rem;
}
.placeholders .placeholder__heading--4 {
  font-size: 1.5rem;
  margin: 0;
  text-decoration: none;
}
.placeholders .placeholder__heading--4:visited {
  color: rgb(14, 132, 235);
}
.placeholders .box,
.placeholders .box-placeholder {
  background-color: #fff;
  margin: 30px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  max-width: 300px;
  vertical-align: top;
  width: 300px;
  min-height: 300px;
}
.placeholders .box .placeholder__category {
  display: block;
  margin-bottom: 10px;
}
.placeholders .box .image__project {
  max-height: 300px;
  overflow: hidden;
}
.placeholders .box img {
  max-width: 100%;
}
.placeholders .box img.projects__stack {
  height: 50px;
  width: auto;
  margin: 5px;
}
.placeholders .box img.projects__stack--larger {
  width: 50px;
  height: auto;
  margin: 5px;
}
.placeholders .box-placeholder {
  font-size: 0;
  line-height: 0;
  /* ajout d'une marge basse pour terminer un paragraphe */
  /* hauteur augmentée pour signifier un titre */
}
.placeholders .box-placeholder .placeholder__text {
  display: inline-block;
  background-color: #444;
  height: 12px;
  border-radius: 12px;
  margin: 5px 0;
  min-width: 100px;
  opacity: 0.1;
  animation: fading 1.5s infinite;
}
.placeholders .box-placeholder .placeholder__text.link {
  background-color: rgb(14, 132, 235);
  opacity: 0.4;
}
.placeholders .box-placeholder .placeholder__text.line {
  width: 100%;
}
.placeholders .box-placeholder .placeholder__text.placeholder__category {
  width: 100px;
  margin-bottom: 10px;
}
.placeholders .box-placeholder .placeholder__circle {
  display: inline-block;
  background-color: #444;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
  opacity: 0.1;
  animation: fading 1.5s infinite;
}
.placeholders .box-placeholder .placeholder__text.breakLine {
  margin-bottom: 1rem;
}
.placeholders .box-placeholder .placeholder__title.placeholder__text {
  height: 20px;
  margin: 3px 0;
  opacity: 0.2;
}
.placeholders .box-placeholder .image {
  background-color: #f9f9f9;
  min-height: 300px;
  border-top: 1px solid #f3f3f3;
  border-bottom: 1px solid #f3f3f3;
}
.placeholders .hide {
  display: none;
}
.placeholders .show {
  display: block;
}

/* effet de scintillement des placeholders */
@keyframes fading {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.1;
  }
}
/* pour compiler sass en ligne de commande : sass <source> <destination> */
/* I:\fichiers mika\html_CSS\ma librairie de composants dev web */
html {
  scroll-behavior: smooth;
  /* la taille de la police de référence est redéfinie pour chaque taille d'écran dans les media queries */
  font-size: 11px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #c7c5ca;
  line-height: 1.4;
  box-sizing: border-box;
}

h1 {
  margin: 0;
}

.wrapper {
  /* je fixe une taille max à la page pour éviter de trop étirer le design */
  max-width: 1920px;
  min-height: 380px;
  margin: 0 auto;
  background: #F1F2F3;
}

.container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  padding: 2rem;
}

.title {
  font-weight: 700;
  font-size: 2.5rem;
}

.gradient-title {
  /* je prévoit une couleur par défaut pour le titre et des conditions pour appliquer un text-gradient */
  color: black;
}
@supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
  .gradient-title {
    background-image: linear-gradient(45deg, #05619b, #01e396);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@supports (-moz-background-clip: text) and (-moz-text-fill-color: transparent) {
  .gradient-title {
    background-image: linear-gradient(45deg, #05619b, #01e396);
    background-size: 100%;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
}

.regular {
  font-size: 1.4rem;
  font-weight: 400;
  text-align: justify;
}

.icon, .icon:visited {
  color: #1F2667;
  font-weight: 400;
  border-radius: 100%;
  padding: 0.2rem;
  transition: 0.5s background-color;
  margin-left: 0.5rem;
}

.icon:hover {
  transition: 0.5s background-color;
  background-color: #9bbbd3;
}

.dark-blue {
  background: rgb(30, 60, 75);
  color: #c7c5ca;
}

.light-grey {
  background-color: #c7c5ca;
}

.light-blue {
  background-color: #ddebff;
}

.light {
  background-color: #fff;
}

.bold {
  font-weight: 600;
}

.banner {
  position: relative;
  width: 100vw;
  max-width: 1900px;
  height: 100vh;
  overflow: hidden;
}
.banner__left {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #e64741 0%, #e6255d 100%, #7db9e8 100%);
  animation: slideInLeft 0.5s;
  /* animation-fill-mode indique la façon dont une animation applique les styles à sa cible avant et après son exécution. */
  animation-fill-mode: forwards;
  /* 'forwards' retient les valeurs calculées définies lors de la dernière étape (keyframe) */
}
.banner__right {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 100%, 0 100%, 100% 100%, 100% 100%);
  animation: slideInRight 0.5s 0.5s;
  animation-fill-mode: forwards;
}
.banner__logo {
  position: absolute;
  font-size: 3rem;
  font-weight: 400;
  color: white;
  opacity: 0;
  top: 30%;
  left: 30%;
  animation: fadeInLeft 0.2s 1s;
  animation-fill-mode: forwards;
}
.banner__incipit {
  position: absolute;
  bottom: 20%;
  transform: translateY(50%);
  right: 5%;
  font-size: 3rem;
  font-weight: 400;
  line-height: 7rem;
  color: white;
  opacity: 0;
  animation: fadeInRight 0.2s 1.2s;
  animation-fill-mode: forwards;
}

.nav {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 12rem;
  z-index: 1;
  background: #333F4F;
  clip-path: circle(29px at calc(100% - 5vw - (60px / 2)) calc(5vh + 60px / 2));
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.nav.active {
  clip-path: circle(75% at 50% 50%);
}
.nav__link {
  display: block;
  font-size: 1em;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: -1px;
  text-align: left;
  padding: 1vh 1vw;
  color: white;
  text-decoration: none;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  opacity: 0;
  transform: translateX(50%);
}
.nav__link:nth-child(1) {
  transition-delay: 0.05s;
}
.nav__link:nth-child(2) {
  transition-delay: 0.1s;
}
.nav__link:nth-child(3) {
  transition-delay: 0.15s;
}
.nav__link:nth-child(4) {
  transition-delay: 0.2s;
}
.nav__link.active {
  opacity: 1;
  transform: translateX(0);
}

.hamburger {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  z-index: 1;
  top: 5vh;
  right: 5vw;
  background: #333F4F;
  transition: ease 0.2s;
}
.hamburger__patty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 50%;
  background-clip: padding-box;
  background: #f7f7f7;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.hamburger__patty:nth-child(1) {
  transform: translate(-50%, calc(-50% - 0.5rem));
}
.hamburger__patty:last-child {
  transform: translate(-50%, calc(-50% + 0.5rem));
}
.hamburger.active .hamburger__patty {
  background: white;
}
.hamburger.active .hamburger__patty:nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg);
}
.hamburger.active .hamburger__patty:nth-child(2) {
  opacity: 0;
}
.hamburger.active .hamburger__patty:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.hamburger:hover {
  transition: ease 0.2s;
  background-color: #12152b;
}

.about {
  max-width: 800px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #1F2667;
}
.projects__title {
  text-align: center;
}
.projects__card {
  display: flex;
  flex-direction: column;
}
.projects__card--thumbnail {
  width: 300px;
  height: 300px;
  overflow: hidden;
  transition: all 0.5s ease;
  box-shadow: 1px 1px 5px #696969;
}
.projects__card--thumbnail:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 35px #696969;
}
.projects__card--icons {
  display: block;
  text-align: right;
  padding: 0.5rem 0;
  font-size: 1rem;
  color: #1F2667;
}
.projects__card--icons a, .projects__card--icons a:visited {
  text-decoration: none;
  color: #1F2667;
}
.projects__card--leaning {
  width: 300px;
  border-radius: 5px;
}
.projects__container {
  display: flex;
  flex-direction: column;
}
.projects__container--title {
  font-size: 3rem;
  font-weight: 400;
  padding: 0 0 0.5rem 0;
  margin: 3rem 0 0 0;
  border-top: 1px solid currentcolor;
}
.projects__container--description {
  max-width: 300px;
}
.projects__stack {
  height: 50px;
  width: auto;
  margin: 0.5rem;
}
.projects__stack--larger {
  width: 50px;
  height: auto;
  margin: 0.5rem;
}

.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.show {
  transform: translateY(0);
  opacity: 1;
}

.contact {
  font-size: 8px;
  width: 100%;
  background-color: #333F4F;
  text-align: center;
  padding: 4rem 0 3rem 0;
}
.contact__message {
  color: #c7c5ca;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.contact__remail-btn {
  color: #F1F2F3;
  background-color: #f46674;
  padding: 1rem 1.5rem;
  display: inline-block;
  border-radius: 6px;
  font-size: 1.5rem;
}
.contact__remail-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.contact__remail-btn span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.contact__email-btn:hover span {
  padding-right: 25px;
}
.contact__email-btn:hover span:after {
  opacity: 1;
  right: 0;
}
.contact__social-icons {
  margin-top: 50px;
  padding-left: 0;
}
.contact__social-icons li {
  display: inline-block;
  margin: 0 16px;
}
.contact__social-icons li a {
  display: block;
}
.contact__social-icons li i {
  color: #c3c3cb;
  font-size: 2rem;
  transition: all 0.3s;
}
.contact__social-icons li i:hover {
  transform: scale(1.3);
}

/* LABS */
.labs {
  color: #1F2667;
}
.labs__text {
  width: 90%;
  font-size: 1.2rem;
}
.labs__subtitle {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 0;
}

.container__labs {
  width: 90%;
  height: 40rem;
  margin: 2rem auto;
  padding: 2rem 0;
  border: 4px solid rgb(126, 166, 219);
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 0 #c1c1c1;
  transition: all 0.4s ease-out;
}
.container__labs:hover {
  border: 4px solid rgb(36, 124, 239);
  transition: border 0.4s ease-out;
  box-shadow: 0 0 15px #d0c6c7;
  transition: all 0.4s ease-out;
}

.slide {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 6rem;
  height: 6rem;
  background-color: rgb(54, 112, 236);
  margin: 1rem;
  animation: 0.8s slide;
}

@keyframes slideInLeft {
  from {
    left: -100vw;
  }
  to {
    left: 0;
  }
}
@keyframes slideInRight {
  to {
    clip-path: polygon(0% 75%, 0 100%, 100% 100%, 100% 25%);
  }
}
@keyframes fadeInLeft {
  to {
    opacity: 1;
  }
}
@keyframes fadeInRight {
  to {
    opacity: 1;
  }
}
@keyframes slide {
  from {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/* RESPONSIVE */
@media screen and (min-width: 516px) {
  html {
    font-size: 14px;
  }

  .container__labs {
    height: 32rem;
  }
}
@media screen and (min-width: 600px) {
  .projects__title {
    font-size: 4rem;
  }

  .projects__card--thumbnail {
    width: 400px;
    height: 400px;
  }

  .projects__card--leaning {
    width: 400px;
  }

  .projects__container--description {
    max-width: 400px;
  }
  .projects__container--description p {
    font-size: 1.2rem;
  }

  .container__labs {
    width: 90%;
    height: 24rem;
  }
}
/* à partir de 700px, le menu de navigation vertical devient horizontal */
@media screen and (min-width: 700px) {
  html {
    font-size: 16px;
  }

  .container {
    width: 80%;
  }

  .section {
    padding: 5rem;
  }

  .title {
    font-size: 4.5rem;
  }

  .banner__logo {
    font-size: 4rem;
  }
  .banner__incipit {
    font-size: 4rem;
    bottom: 30%;
    right: 20%;
  }

  .nav {
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 8rem;
  }
  .nav.active {
    clip-path: circle(75% at 50% 10%);
  }

  .container__labs {
    height: 16rem;
  }
}
@media screen and (min-width: 992px) {
  .nav__link {
    font-size: 2rem;
    padding: 1vh 2vw;
  }

  .banner__logo {
    font-size: 5rem;
  }
  .banner__incipit {
    font-size: 5rem;
    bottom: 30%;
    right: 20%;
  }

  /* j'augmente la taille de référence de la police (em) */
  .contact {
    font-size: 12px;
  }
}
@media screen and (min-width: 1000px) {
  .projects {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    align-items: flex-start;
  }

  .projects__container--city-app, .projects__container--weatherApp {
    align-items: flex-end;
  }

  .projects__container--city-app, .projects__container--one {
    order: -2;
  }

  .projects__container--two {
    order: -1;
    align-items: flex-end;
  }
  .projects__container--two .projects__container--description {
    text-align: right;
  }

  .projects__container--todolist {
    align-items: flex-start;
  }
}
@media screen and (min-width: 1050px) {
  .container__labs {
    height: 8rem;
  }
}
@media screen and (min-width: 1200px) {
  .nav__link {
    font-size: 2rem;
    padding: 1vh 2vw;
  }
}
/* sur les tailles d'écran supérieures à 1400px, la barre de navigation devient latérale */
@media screen and (min-width: 1400px) {
  .nav {
    flex-flow: column nowrap;
    align-items: flex-end;
    width: 250px;
    height: 100%;
    background: #333F4F;
    clip-path: circle(29px at calc(250px - 5vw - calc(60px / 2)) calc(5vh + 60px / 2));
  }
  .nav.active {
    clip-path: circle(75% at calc(250px / 2) 50vh);
  }
  .nav__link {
    font-size: 2rem;
    padding: 1vh 3vw;
    transform: translateY(50%);
  }
  .nav__link.active {
    transform: translateY(0);
  }

  .contact {
    font-size: 16px;
  }
}
/* ajout d'une règle pour gérer le menu latéral fixe sur les écrans très larges */
@media screen and (min-width: 1902px) {
  .nav, .hamburger {
    left: calc(50% + 960px - 7.6rem);
    top: 6rem;
    transform: translateX(-50%);
  }

  .nav {
    height: calc(100vh + 10rem);
    clip-path: circle(29px at calc(100% - 6rem - (60px / 2)) calc(60px / 2));
    /* je remonte le menu .hamburger relativement à son parent .hamburger__fixed-menu pour qu'il colle au sommet de la page */
  }
  .nav.active {
    top: -6rem;
  }

  .hamburger__fixed-menu {
    position: relative;
  }
  .hamburger__patty {
    position: absolute;
    top: 1.8rem;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 50%;
    background-clip: padding-box;
    background: #f7f7f7;
    transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }
}

/*# sourceMappingURL=style.css.map */
