@import 'constantes', 'spinners', 'stack', 'placeholder';

/* pour compiler sass en ligne de commande : sass <source> <destination> */
/* I:\fichiers mika\html_CSS\ma librairie de composants dev web */

html {
    scroll-behavior: smooth;
    /* la taille de la police de référence est redéfinie pour chaque taille d'écran dans les media queries */
    font-size: 11px;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: $bgLight;
    line-height: 1.4;
    box-sizing: border-box;
}

h1 {
    margin: 0;
}

.wrapper {
    /* je fixe une taille max à la page pour éviter de trop étirer le design */
    max-width: 1920px;
    min-height: 380px;
    margin: 0 auto;
    background: #F1F2F3;
}

.container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    padding: 2rem;
}

.title {
    font-weight: 700;
    font-size: 2.5rem;
}

.gradient-title {
    /* je prévoit une couleur par défaut pour le titre et des conditions pour appliquer un text-gradient */
    color: black;
    @supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
        background-image: linear-gradient(45deg, #05619b, #01e396);
        background-size: 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
    }
    @supports (-moz-background-clip: text) and (-moz-text-fill-color: transparent) {
        background-image: linear-gradient(45deg, #05619b, #01e396);
        background-size: 100%;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }

    // background-color: #f3ec78;
    // background-image: linear-gradient(45deg, #05619b, #01e396);
    // background-size: 100%;
    // background-clip: text;
    // -webkit-background-clip: text;
    // -moz-background-clip: text;
    // -moz-text-fill-color: transparent;
    // -webkit-text-fill-color: transparent;
}

.regular {
    font-size: 1.4rem;
    font-weight: 400;
    text-align: justify;
}

.icon, .icon:visited {
    color: $textBlue;
    font-weight: 400;
    border-radius: 100%;
    padding: .2rem;
    transition: .5s background-color;
    margin-left: .5rem;
}

.icon:hover {
    transition: .5s background-color;
    background-color: #9bbbd3;
}

.dark-blue {
    background: rgb(30, 60, 75);
    color: $bgLight;
}

.light-grey {
    background-color: $lightGrey;
}

.light-blue {
    // background-color: $lightBlue;
    background-color: $lightBlue;
}

.light {
    background-color: $light;
}

.bold {
    font-weight: 600;
}

.banner {
    position: relative;
    width: 100vw;
    max-width: 1900px;
    height: 100vh;
    overflow: hidden;
    
    &__left {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: $bgGradient;
        animation: slideInLeft 0.5s;
        /* animation-fill-mode indique la façon dont une animation applique les styles à sa cible avant et après son exécution. */
        animation-fill-mode: forwards;  /* 'forwards' retient les valeurs calculées définies lors de la dernière étape (keyframe) */
    }
    
    &__right {
        position: absolute;
        background-color: black;
        width: 100%;
        height: 100%;
        clip-path: polygon(0 100%, 0 100%, 100% 100%, 100% 100%);
        animation: slideInRight .5s .5s;
        animation-fill-mode: forwards;
    }

    &__logo {
        position: absolute;
        font-size: 3rem;
        font-weight: 400;
        color: white;
        opacity: 0;
        top: 30%;
        left: 30%;
        animation: fadeInLeft .2s 1s;
        animation-fill-mode: forwards;
    }
    
    &__incipit {
        position: absolute;
        bottom: 20%;
        transform: translateY(50%);
        right: 5%;
        font-size: 3rem;
        font-weight: 400;
        line-height: 7rem;
        color: white;
        opacity: 0;
        animation: fadeInRight .2s 1.2s;
        animation-fill-mode: forwards;
    }
}

.nav {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 12rem;
    z-index: 1;
    background: $navBarBgColor;
    clip-path: circle(29px at calc(100% - 5vw - calc(#{$hamburgerSize} / 2)) calc(5vh + #{$hamburgerSize} / 2));
    transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);
    
    &.active {
        clip-path: circle(75% at 50% 50%);
    }
    
    &__link {
        display: block;
        font-size: 1em;
        font-weight: 400;
        text-transform: capitalize;
        letter-spacing: -1px;
        text-align: left;
        padding: 1vh 1vw;
        color: white;
        text-decoration: none;
        transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
        opacity: 0;
        transform: translateX(50%);
        
        @for $i from 1 through 4 {
            &:nth-child(#{$i}) {
            transition-delay: $i * 0.05s;
            }
        }
        
        &.active {
            opacity: 1;
            transform: translateX(0);
        }
    }
}
    
    .hamburger {
        $p: &;
        width: $hamburgerSize;
        height: $hamburgerSize;
        border-radius: 50%;
        cursor: pointer;
        position: fixed;
        z-index: 1;
        top: 5vh;
        right: 5vw;
        background: $navBarBgColor;
        transition: ease .2s;
        
        &__patty {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 2px;
            width: 50%;
            background-clip: padding-box;
            background: darken(white, 3);
            transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);
        
        &:nth-child(1) {
            transform: translate(-50%, calc(-50% - .5rem));
            }
        
        &:last-child {
            transform: translate(-50%, calc(-50% + .5rem));
            }
        }
        
        &.active {            
            #{$p}__patty {
                background: white;
                
                &:nth-child(1) {
                transform: translate(-50%, -50%) rotate(45deg);
                }
                
                &:nth-child(2) {
                opacity: 0;
                }
                
                &:nth-child(3) {
                transform: translate(-50%, -50%) rotate(-45deg);
                }
            }
        }

        &:hover {
            transition: ease .2s;
            background-color: $navBarBgColorHover;
        }
    }

.about {
    max-width: 800px;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $textBlue;

    &__title {
        text-align: center;
    }

    &__card {
        display: flex;
        flex-direction: column;
        
        &--thumbnail {
            width: 300px;
            height: 300px;
            overflow: hidden;
            transition: all 0.5s ease;
            box-shadow: 1px 1px 5px #696969;
    
            &:hover {
                transform: scale(1.01);
                box-shadow: 0px 0px 35px #696969;
            }
        }

        &--icons {
            display: block;
            text-align: right;
            padding: .5rem 0;
            font-size: 1rem;
            color: $textBlue;

            & a, a:visited {
                text-decoration: none;
                color: $textBlue;
            }
        }
        &--leaning {
            width: 400px;
            border-radius: 5px;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        
        &--title {
            font-size: 3rem;
            font-weight: 400;
            padding: 0 0 .5rem 0;
            margin: 3rem 0 0 0;
            border-top: 1px solid currentcolor;
        }
        
        &--description {
            max-width: 300px;
        }
    }

    &__stack {
        height: 50px;
        width: auto;
        margin: .5rem;
        
        &--larger {
            width: 50px;
            height: auto;
            margin: .5rem
        }
    }
}

.reveal {
    position: relative;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s all ease;
}
  
.reveal.show {
    transform: translateY(0);
    opacity: 1;
}

.contact {
    font-size: 8px;
    width: 100%;
    background-color: $navBarBgColor;
    text-align: center;
    padding: 4rem 0 3rem 0;

    &__message {
        color: #c7c5ca;
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    &__remail-btn {
        color: #F1F2F3;
        background-color: #f46674;
        padding: 1rem 1.5rem;
        display: inline-block;
        border-radius: 6px;
        font-size: 1.5rem;

        & span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

        & span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }
    }

    &__email-btn:hover span {
        padding-right: 25px;
    }

    &__email-btn:hover span:after {
        opacity: 1;
        right: 0;
    }

    &__social-icons {
        margin-top: 50px;
        padding-left: 0;

        & li  {
            display: inline-block;
            margin: 0 16px;
        }

        & li a {
            display: block;
        }

        & li i {
            color: #c3c3cb;
            font-size: 2rem;
            transition: all 0.3s;
        }

        & li i:hover {
            transform: scale(1.3);
        }
    }
}

/* LABS */

.labs {
    color: $textBlue;

    &__text {
        width: 90%;
        font-size: 1.2rem;
    }

    &__subtitle {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: 0;
    }
  }

.container__labs {
    width: 90%;
    height: 40rem;
    margin: 2rem auto;
    padding: 2rem 0;
    border: 4px solid rgb(126, 166, 219);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 0 #c1c1c1;
    transition: all .4s ease-out;
    
    &:hover {
        border: 4px solid rgb(36, 124, 239);
        transition: border .4s ease-out;
        box-shadow: 0 0 15px #d0c6c7;
        transition: all .4s ease-out;
    }
}

.slide {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 6rem;
    height: 6rem;
    background-color: rgb(54, 112, 236);
    margin: 1rem;
    animation: 0.8s slide;
}

@keyframes slideInLeft {
    from {        
        left: -100vw;
    }
    to {
        left: 0;
    }
}

@keyframes slideInRight {
    to {
        clip-path: polygon(0% 75%, 0 100%, 100% 100%, 100% 25%);
    }
}

@keyframes fadeInLeft {
    to {
        opacity: 1;
    }
}

@keyframes fadeInRight {
    to {
        opacity: 1;
    }
}

 @keyframes slide {
     from {
        transform: translate3d(0, -100%, 0);
        opacity: 0;
     }
     to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
     }
 }

/* RESPONSIVE */

@media screen and (min-width: 516px) {

    html {
        font-size: 14px;
    }
    
    .container__labs {
        height: 32rem;
    }
}

@media screen and (min-width: 600px) {

    .projects__title {
        font-size: 4rem;
    }

    .projects__card--thumbnail {
        width: 400px;
        height: 400px;
    }
    
    .projects__container--description {
        max-width: 400px;

        & p {
            font-size: 1.2rem;
        }
    }

    .container__labs {
        width: 90%;
        height: 24rem;
    }
}

/* à partir de 700px, le menu de navigation vertical devient horizontal */
@media screen and (min-width:700px) {

    html {
        font-size: 16px;
    }

    .container {
        width: 80%;
    }
    
    .section {
        padding: 5rem;
    }

    .title {
        font-size: 4.5rem;
    }

    .banner {   
        &__logo {
            font-size: 4rem;
        }
        
        &__incipit {
            font-size: 4rem;
            bottom: 30%;
            right: 20%;
        }
    }

    .nav {
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        height: 8rem;
        
        &.active {
            clip-path: circle(75% at 50% 10%);
        }
    }

    .container__labs {
        height: 16rem;
    }
}

@media screen and (min-width:992px) {
    
    .nav {        
        &__link {
            font-size: 2rem;
            padding: 1vh 2vw;
        }
    }

    .banner {     
        &__logo {
            font-size: 5rem;
        }      
        &__incipit {
            font-size: 5rem;
            bottom: 30%;
            right: 20%;
        }
    }

    /* j'augmente la taille de référence de la police (em) */
    .contact {
        font-size: 12px;
    }
}

@media screen and (min-width: 1000px) {

    .projects {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        align-items: flex-start;
    }
    
    .projects__container--city-app, .projects__container--weatherApp {
        align-items: flex-end;
    }

    .projects__container--city-app, .projects__container--one {
        order: -2;
    }

    .projects__container--two {
        order: -1;
        align-items: flex-end;

        & .projects__container--description {
            text-align: right;
        }
    }

    .projects__container--todolist {
        align-items: flex-start;
    }
}

@media screen and (min-width: 1050px) {
    
    .container__labs {
        height: 8rem;
    }
}

@media screen and (min-width: 1200px) {
    .nav {        
        &__link {
            font-size: 2rem;
            padding: 1vh 2vw;
        }
    }
}

/* sur les tailles d'écran supérieures à 1400px, la barre de navigation devient latérale */
@media screen and (min-width: 1400px) {
    
    .nav {
        flex-flow: column nowrap;
        align-items: flex-end;
        width: $navWidth;
        height: 100%;
        background: $navBarBgColor;
        clip-path: circle(29px at calc(#{$navWidth} - 5vw - calc(#{$hamburgerSize} / 2)) calc(5vh + #{$hamburgerSize} / 2));

        
        &.active {
            clip-path: circle(75% at calc(#{$navWidth} / 2) 50vh);
        }
        
        &__link {
            font-size: 2rem;
            padding: 1vh 3vw;
            transform: translateY(50%);
            
            &.active {
                transform: translateY(0);
            }
        }
    }

    .contact {
        font-size: 16px;
    }
}

/* ajout d'une règle pour gérer le menu latéral fixe sur les écrans très larges */
@media screen and (min-width: 1902px) {

    .nav, .hamburger {
        left: calc((50% + 960px) - 7.6rem);
        top: 6rem;
        transform: translateX(-50%);
    }

    .nav {
        height: calc(100vh + 10rem);
        clip-path: circle(29px at calc(100% - 6rem - calc(#{$hamburgerSize} / 2)) calc(#{$hamburgerSize} / 2));
        /* je remonte le menu .hamburger relativement à son parent .hamburger__fixed-menu pour qu'il colle au sommet de la page */
        &.active {
            top: -6rem;
        }
    }
    
    .hamburger {
        &__fixed-menu {
            position: relative;
        }

        &__patty {
            position: absolute;
            top: 1.8rem;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 2px;
            width: 50%;
            background-clip: padding-box;
            background: darken(white, 3);
            transition: all .8s cubic-bezier(0.86, 0, 0.07, 1);
        }
    }
}