@charset "UTF-8";
/* pour compiler sass en ligne de commande : sass <source> <destination> */
/* I:\fichiers mika\html_CSS\ma librairie de composants dev web */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #c7c5ca;
}

h1 {
  margin: 0;
}

.wrapper {
  /* je fixe une taille max à la page pour éviter de trop étirer le design */
  max-width: 1920px;
  min-height: 380px;
  margin: 0 auto;
  background: #F1F2F3;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  padding: 5em;
}

.title {
  font-weight: 400;
  font-size: 3em;
}

.regular {
  font-size: 1.4em;
  font-weight: 400;
  text-align: justify;
}

.icon, .icon:visited {
  color: #12152b;
  font-weight: 400;
  border-radius: 100%;
  padding: 0.2em;
  transition: 0.5s background-color;
  margin-left: 0.5em;
}

.icon:hover {
  transition: 0.5s background-color;
  background-color: #9bbbd3;
}

.dark-blue {
  background: rgb(30, 60, 75);
  color: #c7c5ca;
}

.light-gray {
  background-color: #c7c5ca;
}

.bold {
  font-weight: 600;
}

.banner {
  position: relative;
  width: 100vw;
  max-width: 1900px;
  height: 100vh;
  overflow: hidden;
}
.banner__left {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #e64741 0%, #e6255d 100%, #7db9e8 100%);
  animation: slideInLeft 0.5s;
  /* animation-fill-mode indique la façon dont une animation applique les styles à sa cible avant et après son exécution. */
  animation-fill-mode: forwards;
  /* 'forwards' retient les valeurs calculées définies lors de la dernière étape (keyframe) */
}
.banner__right {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  clip-path: polygon(0 100%, 0 100%, 100% 100%, 100% 100%);
  animation: slideInRight 0.5s 0.5s;
  animation-fill-mode: forwards;
}
.banner__logo {
  position: absolute;
  font-size: 3em;
  font-weight: 400;
  color: white;
  opacity: 0;
  top: 30%;
  left: 30%;
  animation: fadeInLeft 0.2s 1s;
  animation-fill-mode: forwards;
}
.banner__incipit {
  position: absolute;
  bottom: 20%;
  transform: translateY(50%);
  right: 5%;
  font-size: 3rem;
  font-weight: 400;
  line-height: 7rem;
  color: white;
  opacity: 0;
  animation: fadeInRight 0.2s 1.2s;
  animation-fill-mode: forwards;
}

.nav {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 12em;
  z-index: 1;
  background: #333F4F;
  clip-path: circle(29px at calc(100% - 5vw - (60px / 2)) calc(5vh + 60px / 2));
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.nav.active {
  clip-path: circle(75% at 50% 50%);
}
.nav__link {
  display: block;
  font-size: 1em;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: -1px;
  text-align: left;
  padding: 1vh 1vw;
  color: white;
  text-decoration: none;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  opacity: 0;
  transform: translateX(50%);
}
.nav__link:nth-child(1) {
  transition-delay: 0.05s;
}
.nav__link:nth-child(2) {
  transition-delay: 0.1s;
}
.nav__link:nth-child(3) {
  transition-delay: 0.15s;
}
.nav__link:nth-child(4) {
  transition-delay: 0.2s;
}
.nav__link.active {
  opacity: 1;
  transform: translateX(0);
}

.hamburger {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  position: fixed;
  z-index: 1;
  top: 5vh;
  right: 5vw;
  background: #333F4F;
  transition: ease 0.2s;
}
.hamburger__patty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 50%;
  background-clip: padding-box;
  background: #f7f7f7;
  transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.hamburger__patty:nth-child(1) {
  transform: translate(-50%, calc(-50% - 0.5em));
}
.hamburger__patty:last-child {
  transform: translate(-50%, calc(-50% + 0.5em));
}
.hamburger.active .hamburger__patty {
  background: white;
}
.hamburger.active .hamburger__patty:nth-child(1) {
  transform: translate(-50%, -50%) rotate(45deg);
}
.hamburger.active .hamburger__patty:nth-child(2) {
  opacity: 0;
}
.hamburger.active .hamburger__patty:nth-child(3) {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.hamburger:hover {
  transition: ease 0.2s;
  background-color: #12152b;
}

.about {
  max-width: 800px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects__title {
  text-align: center;
  font-size: 3em;
  font-weight: 400;
}
.projects__card {
  display: flex;
  flex-direction: column;
}
.projects__card--thumbnail {
  width: 300px;
  height: 300px;
  margin-top: 3em;
  overflow: hidden;
  transition: all 0.5s ease;
  box-shadow: 1px 1px 5px #696969;
}
.projects__card--thumbnail:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 35px #696969;
}
.projects__card--icons {
  display: block;
  text-align: right;
  padding: 0.5em 0;
  font-size: 1em;
  color: #12152b;
}
.projects__card--icons a, .projects__card--icons a:visited {
  text-decoration: none;
  color: #000;
}
.projects__card--leaning {
  width: 400px;
  border-radius: 5px;
}
.projects__container {
  display: flex;
  flex-direction: column;
}
.projects__container--title {
  font-size: 3em;
  font-weight: 400;
  padding: 0 0 0.5em 0;
  margin: 1em 0 0 0;
}
.projects__container--description {
  max-width: 300px;
}

.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.show {
  transform: translateY(0);
  opacity: 1;
}

.contact {
  font-size: 8px;
  width: 100%;
  background-color: #333F4F;
  text-align: center;
  padding: 4em 0 3em 0;
}
.contact__message {
  color: #c7c5ca;
  font-size: 2.5em;
  margin-bottom: 2em;
}
.contact__email-btn {
  color: #F1F2F3;
  background-color: #f46674;
  padding: 1em 1.5em;
  display: inline-block;
  border-radius: 6px;
  font-size: 1.5em;
}
.contact__email-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.contact__email-btn span:after {
  content: "»";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.contact__email-btn:hover span {
  padding-right: 25px;
}
.contact__email-btn:hover span:after {
  opacity: 1;
  right: 0;
}
.contact__social-icons {
  margin-top: 50px;
  padding-left: 0;
}
.contact__social-icons li {
  display: inline-block;
  margin: 0 16px;
}
.contact__social-icons li a {
  display: block;
}
.contact__social-icons li i {
  color: #c3c3cb;
  font-size: 2em;
  transition: all 0.3s;
}
.contact__social-icons li i:hover {
  transform: scale(1.3);
}

/* LABS */
.container__labs {
  width: 90%;
  height: 40em;
  margin: 2em auto;
  padding: 2em;
  border-radius: 15px;
  box-shadow: 0 0 15px #a3a3a3;
  overflow: hidden;
}

.slide {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 6em;
  height: 6em;
  background-color: rgb(54, 112, 236);
  margin: 1em;
  animation: 0.8s slide;
}

@keyframes slideInLeft {
  from {
    left: -100vw;
  }
  to {
    left: 0;
  }
}
@keyframes slideInRight {
  to {
    clip-path: polygon(0% 75%, 0 100%, 100% 100%, 100% 25%);
  }
}
@keyframes fadeInLeft {
  to {
    opacity: 1;
  }
}
@keyframes fadeInRight {
  to {
    opacity: 1;
  }
}
@keyframes slide {
  from {
    transform: translate3d(0, -100%, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
/* RESPONSIVE */
@media screen and (min-width: 516px) {
  .container__labs {
    height: 32em;
  }
}
@media screen and (min-width: 600px) {
  .projects__title {
    font-size: 4em;
  }

  .projects__card--thumbnail {
    width: 400px;
    height: 400px;
  }

  .projects__container--description {
    max-width: 400px;
  }
  .projects__container--description p {
    font-size: 1.2em;
  }

  .container__labs {
    width: 90%;
    height: 24em;
  }
}
/* à partir de 700px, le menu de navigation vertical devient horizontal */
@media screen and (min-width: 700px) {
  .banner__logo {
    font-size: 4em;
  }
  .banner__incipit {
    font-size: 4em;
    bottom: 30%;
    right: 20%;
  }

  .nav {
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 8em;
  }
  .nav.active {
    clip-path: circle(75% at 50% 10%);
  }

  .container__labs {
    height: 16em;
  }
}
@media screen and (min-width: 992px) {
  .nav__link {
    font-size: 2em;
    padding: 1vh 2vw;
  }

  .banner__logo {
    font-size: 5em;
  }
  .banner__incipit {
    font-size: 5em;
    bottom: 30%;
    right: 20%;
  }

  /* j'augmente la taille de référence de la police (em) */
  .contact {
    font-size: 12px;
  }
}
@media screen and (min-width: 1000px) {
  .projects {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    align-items: flex-start;
  }

  .projects__container--city-app, .projects__container--weatherApp {
    align-items: flex-end;
  }

  .projects__container--city-app, .projects__container--one {
    order: -2;
  }

  .projects__container--two {
    order: -1;
    align-items: flex-end;
  }
  .projects__container--two .projects__container--description {
    text-align: right;
  }

  .projects__container--todolist {
    align-items: flex-start;
  }
}
@media screen and (min-width: 1050px) {
  .container__labs {
    height: 8em;
  }
}
/* sur les tailles d'écran supérieures à 1400px, la barre de navigation devient latérale */
@media screen and (min-width: 1400px) {
  .nav {
    flex-flow: column nowrap;
    align-items: flex-end;
    width: 250px;
    height: 100%;
    background: #333F4F;
    clip-path: circle(29px at calc(250px - 5vw - calc(60px / 2)) calc(5vh + 60px / 2));
  }
  .nav.active {
    clip-path: circle(75% at calc(250px / 2) 50vh);
  }
  .nav__link {
    font-size: 2em;
    padding: 1vh 3vw;
    transform: translateY(50%);
  }
  .nav__link.active {
    transform: translateY(0);
  }

  .container__labs {
    width: 80%;
  }

  .contact {
    font-size: 16px;
  }
}
/* ajout d'une règle pour gérer le menu latéral fixe sur les écrans très larges */
@media screen and (min-width: 1902px) {
  .nav, .hamburger {
    left: calc(50% + 960px - 7.6em);
    top: 6em;
    transform: translateX(-50%);
  }

  .nav {
    height: calc(100vh + 10em);
    clip-path: circle(29px at calc(100% - 6em - (60px / 2)) calc(60px / 2));
    /* je remonte le menu .hamburger relativement à son parent .hamburger__fixed-menu pour qu'il colle au sommet de la page */
  }
  .nav.active {
    top: -6em;
  }

  .hamburger__fixed-menu {
    position: relative;
  }
  .hamburger__patty {
    position: absolute;
    top: 1.8em;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 50%;
    background-clip: padding-box;
    background: #f7f7f7;
    transition: all 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }
}

/*# sourceMappingURL=style.css.map */
